*.o
*.la
*.lo
.deps
.libs
Makefile
Makefile.in
doc
varnish-cache/aclocal.m4
varnish-cache/autom4te.cache/
varnish-cache/bin/varnishadm/varnishadm
varnish-cache/bin/varnishd/default_vcl.h
varnish-cache/bin/varnishd/varnishd
varnish-cache/bin/varnishhist/varnishhist
varnish-cache/bin/varnishlog/varnishlog
varnish-cache/bin/varnishncsa/varnishncsa
varnish-cache/bin/varnishreplay/varnishreplay
varnish-cache/bin/varnishstat/varnishstat
varnish-cache/bin/varnishtest/varnishtest
varnish-cache/bin/varnishtop/varnishtop
varnish-cache/config.guess
varnish-cache/config.h
varnish-cache/config.h.in
varnish-cache/config.log
varnish-cache/config.status
varnish-cache/config.sub
varnish-cache/configure
varnish-cache/depcomp
varnish-cache/etc/default.vcl
varnish-cache/install-sh
varnish-cache/libtool
varnish-cache/ltmain.sh
varnish-cache/man/default.vcl
varnish-cache/man/vcl.7
varnish-cache/missing
varnish-cache/stamp-h1
varnish-cache/varnishapi.pc
