<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" type="text/css" href="css/web.css" />
<link rel="icon" type="image/png" href="/images/favicon.png">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<TMPL_IF NAME=AUTO_REFRESH_INTERVAL>
<meta http-equiv="refresh" content="<TMPL_VAR NAME=AUTO_REFRESH_INTERVAL>">
</TMPL_IF>
<title>Varnish - Lust controller</title>
</head>
<body>
<div id="canvas">
<div id="header">
<img id="headerLogo" src="images/varnish-logo.png" id="logo"/><br/>
<span id="menu">
<a href="/view_stats" class="menu">View stats</a>
<a href="/configure_parameters" class="menu">Configure parameters</a>
<a href="/edit_vcl" class="menu">Edit VCL</a>
<a href="/node_management" class="menu">Node management</a>
<a href="/management_console" class="menu">Management console</a>
</span>
</div>
<div id="content">
<TMPL_IF NAME=ERROR>
<div id="error">
An error occured:<br/>
<pre>
<TMPL_VAR NAME=ERROR>
</pre>
</div>
</TMPL_IF>
<TMPL_IF NAME=STATUS>
<div id="status">
<TMPL_VAR NAME=STATUS>
</div>
</TMPL_IF>
<TMPL_INCLUDE NAME=templates/CONTENT_TEMPLATE>
</div>
</div>
</body>
</html>
