<div class="tabHeader">
<TMPL_LOOP NAME=GROUP_INFOS>
<TMPL_IF NAME=SELECTED>
<span class="selectedTab">
<TMPL_ELSE>
<span class="tab">
</TMPL_IF>
<a href="node_management?group_id=<TMPL_VAR NAME=ID>"><TMPL_VAR NAME=NAME></a>
</span>
</TMPL_LOOP>
<TMPL_UNLESS NAME=RESTRICTED>
<TMPL_IF NAME=ADD_GROUP>
<span class="selectedTab">
<TMPL_ELSE>
<span class="tab">
</TMPL_IF>
<a href="node_management?operation=add_group">Add..</a>
</span>
</div>
</TMPL_UNLESS>
<div class="tabArea">
<TMPL_IF NAME=ADD_GROUP>
<TMPL_UNLESS NAME=RESTRICTED>
<form action="node_management" method="post">
<input type="hidden" name="operation" value="add_group"/>
<table>
<tr><td>Name:</td><td><input name="group_name" id="group_name"/></td></tr>
<tr><td><input type="submit" value="Add"/></td></tr>
</table>
<script type="text/javascript">
document.getElementById('group_name').focus();
</script>
</TMPL_UNLESS>
<TMPL_ELSE>
<table>
<tr>
<td class="header">V</td>
<td class="header">M</td>
<td class="header">Name</td>
<TMPL_IF NAME=SHOW_GROUP>
<td class="header">Group</td>
</TMPL_IF>
<td class="header">Address</td>
<td class="header">Port</td>
<td class="header">Management port</td>
<td></td></tr>
<TMPL_LOOP NAME=NODE_INFOS>
<TMPL_IF NAME=__ODD__>
<tr class="oddRow">
<TMPL_ELSE>
<tr class="evenRow">
</TMPL_IF>
<td>
<TMPL_IF NAME=IS_RUNNING_OK>
<img src="images/running.png"/>
<TMPL_ELSE>
<TMPL_IF NAME=IS_RUNNING>
<img src="images/running_nok.png"/>
<TMPL_ELSE>
<img src="images/stopped.png"/>
</TMPL_IF>
</TMPL_IF>
</td>
<td>
<TMPL_IF NAME=IS_MANAGEMENT_RUNNING>
<img src="images/running.png"/>
<TMPL_ELSE>
<img src="images/stopped.png"/>
</TMPL_IF>
</td>
<TMPL_IF NAME=EDIT>
<form action="node_management" method="POST">
<td><input type="text" name="name" id="edit_node_name" value="<TMPL_VAR NAME=NAME>"/></td>
<td>
<select name="node_group_id">
<TMPL_LOOP NAME=GROUP_INFOS>
<TMPL_IF NAME=IS_REAL>
<option 
<TMPL_IF NAME=SELECTED>
selected
</TMPL_IF>
value="<TMPL_VAR NAME=ID>">
<TMPL_VAR NAME=NAME>
</OPTION>
</TMPL_IF>
</TMPL_LOOP>
</td>
<td><input type="text" name="address" value="<TMPL_VAR NAME=ADDRESS>"/></td>
<td><input type="text" name="port" value="<TMPL_VAR NAME=PORT>" size=5/></td>
<td><input type="text" name="management_port" value="<TMPL_VAR NAME=MANAGEMENT_PORT>"/></td>
<td>
<input type="hidden" name="node_id" value="<TMPL_VAR NAME=ID>">
<input type="hidden" name="group_id" value="<TMPL_VAR NAME=GROUP_ID>">
<input type="hidden" name="operation" value="update_node">
<input type="submit" value="Update">
</td>
</form>
<TMPL_ELSE>

<td>
<a href="http://<TMPL_VAR NAME=ADDRESS>:<TMPL_VAR NAME=PORT>" target="_blank"><TMPL_VAR NAME=NAME></a></td>
<TMPL_IF NAME=SHOW_GROUP>
<td><TMPL_VAR NAME=GROUP></td>
</TMPL_IF>
<td><TMPL_VAR NAME=ADDRESS></td>
<td><TMPL_VAR NAME=PORT></td>
<td><a href="/management_console?node_id=<TMPL_VAR NAME=ID>"><TMPL_VAR NAME=MANAGEMENT_PORT></a></td>
<TMPL_UNLESS NAME=RESTRICTED>
<td>
<form action="node_management" method="POST">
<input type="hidden" name="node_id" value="<TMPL_VAR NAME=ID>">
<input type="hidden" name="operation" value="start_node">
<input type="submit" value="Start">
</form>
</td>
<td>
<form action="node_management" method="POST">
<input type="hidden" name="node_id" value="<TMPL_VAR NAME=ID>">
<input type="hidden" name="operation" value="stop_node">
<input type="submit" value="Stop">
</form>
</td>
<td>
<form action="node_management" method="POST">
<input type="hidden" name="group_id" value="<TMPL_VAR NAME=GROUP_ID>">
<input type="hidden" name="edit_node" value="<TMPL_VAR NAME=ID>">
<input type="submit" value="Edit">
</form>
</td>
<td>
<form action="node_management" method="POST">
<input type="hidden" name="node_id" value="<TMPL_VAR NAME=ID>">
<input type="hidden" name="operation" value="remove_node">
<input type="submit" onclick="return confirm('Removing the node can not be un-done. Remove node?');"value="Remove" class="removeNode">
</form>
</td>
</TMPL_UNLESS>

</TMPL_IF>
</tr>
</TMPL_LOOP>
<TMPL_UNLESS NAME=RESTRICTED>
<TMPL_IF NAME=SHOW_ADD_NODE>
<tr><td class="addNodeBorder" colspan=20>&nbsp;</td></tr>
<tr>
<form action="node_management" method="post">
<input type="hidden" name="operation" value="add_node"/>
<td></td>
<td></td>
<td><input type="text" name="name" id="new_node_name"/></td>
<TMPL_IF NAME=SHOW_GROUP>
<td><TMPL_VAR NAME=GROUP_NAME></td>
</TMPL_IF>
<td><input type="text" name="address"/></td>
<td><input type="text" name="port" size=5/></td>
<td><input type="text" name="management_port" value="<TMPL_VAR NAME=DEFAULT_MANAGEMENT_PORT>"/></td>
<TMPL_IF NAME=SHOW_INHERIT_SETTINGS>
<td><input type="checkbox" name="inherit_settings" value="true" <TMPL_IF NAME=INHERIT_SETTINGS>checked</TMPL_IF>></td><td>Group inherit settings</td>
</TMPL_IF>
<td>
<input type="hidden" name="group_id" value="<TMPL_VAR NAME=GROUP_ID>"/>
<input type="submit" value="Add"/></td>
</tr>
</TMPL_IF>
</TMPL_UNLESS>
</form>
</table>
<TMPL_IF NAME=BACKEND_HEALTH_INFOS>
<table>
<tr>
<TMPL_IF NAME=SHOW_NODE_IN_BACKEND_HEALTH>
<td class="header">Node</td>
</TMPL_IF>
<td class="header">Backend</td><td class="header">Health</td></tr>
<TMPL_LOOP NAME=BACKEND_HEALTH_INFOS>
<tr>
<TMPL_IF NAME=SHOW_NODE_IN_BACKEND_HEALTH>
<td><TMPL_VAR NAME=NODE></td>
</TMPL_IF>
<td><TMPL_VAR NAME=NAME></td><td><TMPL_VAR NAME=HEALTH></td></tr>
</TMPL_LOOP>
</table>
<TMPL_ELSE>
<i>No backend health information available</i>
</TMPL_IF>
<TMPL_UNLESS NAME=RESTRICTED>
<TMPL_IF NAME=SHOW_GROUP_CONTROLS>
<div id="groupControls">
<table>
<tr>
<td>
<form action="node_management" method="POST">
<input type="hidden" name="group_id" value="<TMPL_VAR NAME=GROUP_ID>">
<input type="hidden" name="operation" value="start_group">
<input type="submit" value="Start group">
</form>
</td>
<td>
<form action="node_management" method="POST">
<input type="hidden" name="group_id" value="<TMPL_VAR NAME=GROUP_ID>">
<input type="hidden" name="operation" value="stop_group">
<input type="submit" value="Stop group">
</form>
</td>
<td>
<form action="node_management" method="POST">
<input type="text" name="group_name" value="<TMPL_VAR NAME=GROUP_NAME>">
<input type="hidden" name="group_id" value="<TMPL_VAR NAME=GROUP_ID>">
<input type="hidden" name="operation" value="rename_group">
<input type="submit" value="Rename group">
</form>
</td>

<td>
<form action="node_management" method="POST">
<input type="hidden" name="group_id" value="<TMPL_VAR NAME=GROUP_ID>">
<input type="hidden" name="operation" value="remove_group">
<input type="submit" onclick="return confirm('Removing group will also remove all nodes. Remove group?');" value="Remove group" class="removeNode">
</form>
</td>
</tr>
</table>
</div>
</TMPL_IF>
</TMPL_UNLESS>
</TMPL_IF>
</div>
<script type="text/javascript">
var edit_node_name = document.getElementById('edit_node_name');
var new_node_name = document.getElementById('new_node_name');
if (edit_node_name)
	edit_node_name.focus();
else if(new_node_name)
	new_node_name.focus();
</script>

